/*MP6 admin bar */
#wp-admin-bar-lmm > .ab-item .ab-icon:before {
	content: url('../img/icon-adminbar.png');
}
@media screen and ( max-width: 782px ) {
	#wp-admin-bar-lmm > .ab-item .ab-icon:before {
			content: url('../img/icon-adminbar-2x.png');
			margin: 0 5px;
	}
}
#wp-admin-bar-lmm > .ab-item .ab-icon:hover {
	background-color: #21759B !important;
}