/*Marker-Tabelle*/
.fixed .column-id { width: 4%; }
.fixed .column-type { width: 5%; } 
.fixed .column-markername { width: 20%; }
.fixed .column-layername { width: 240px; }
.fixed .column-address { width: 20%; } 
.fixed .column-coords { width: 105px; }
.fixed .column-count { width: 5%;text-align:center; }
.fixed .column-mapsize { width: 90px; }
.fixed .column-zoom { width: 45px; }
.fixed .column-icon { width: 5%; } 
.fixed .column-popuptext { width: 210px; }
.fixed .column-openpopup { width: 60px; }
.fixed .column-code { width: 150px; }
.fixed .column-geojson { width: 80px;text-align:center; }
.fixed .column-georss { width: 68px;text-align:center; }
.fixed .column-kml { width: 50px;text-align:center; }
.fixed .column-fullscreen { width: 82px;text-align:center; }
.fixed .column-qr-code { width: 72px;text-align:center; }
.fixed .column-wikitude { width: 80px;text-align:center; }
/*tinymce border and background*/
.wp_themeSkin .mceIframeContainer  { border:1px solid #E2E2E2;background:#FFF; }
/*options page*/
 .tabs-top {
}
.tabs-top ul { 
	position: relative;
	text-shadow: 0 1px 0 #FFFFFF;
	z-index: 1;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.tabs-top ul li {
	
}
.tabs-top li a {
  
}
.ui-tabs-active a {
	 
}
.tabs-left {
	position: relative;
}
.tabs-left .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 10em;
	padding: 0.2em 0 0.2em 0.2em;
}
.tabs-left .ui-tabs-nav li {
	right: 1px;
	width: 100%;
	border-right: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	overflow: hidden;
}
 .leafletmapsmarker-listings p {
	margin: 0px;
	padding:0px 0 10px 25px;
	background-color: #fff;
}
 .leafletmapsmarker-listings{
	padding: 0 0 0 130px !important;
}   
  .leafletmapsmarker-listings ul {
   background-color: #fff;
	margin: 0 0 -10px 0 ;  
}   
.leafletmapsmarker-listings ul li a{ text-decoration: none !important;}	
	
.ui-tabs-panel{
	margin-left: 200px;
}   
.tabs-left{
	margin: 0px;
	padding: 0px;
	background: #eff8ff !important;
	border:1px solid #E9E9E9;
}
ul.ui-tabs-nav-top{
	margin: 0px;
	padding: 0px;
	height: 46px;
	min-width: 990px;
}
ul.ui-tabs-nav-top li{
	margin: 0px;	
	padding: 15px 10px 15px 10px;
	float:left;
	font-weight: bold;
	color: #D2E5EE;
	font-size: 1em;
}
ul.ui-tabs-nav-top li a{
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	text-decoration: none;
}
ul.ui-tabs-nav-top li.ui-state-active{
	margin: 0px;
	padding: 15px 10px 15px 10px;
	font-weight: bold;
	color: #D2E5EE;
	background: transparent url('../img/settings-up-arrow-classic.png') no-repeat center bottom;
	font-size: 1em;
}
ul.ui-tabs-nav-top li.ui-state-active a{color: #D54E21 !important;}

table.form-table{
	background: #fff;
	margin: 0px;
}
ul.ui-tabs-navleft{
	margin: 0px 0 0 0;
	padding: 14px 10px 0 0px !important;
	width: 200px !important;
	background: #eff8ff;
}
ul.ui-tabs-navleft li{
	margin: 0px 0 0 10px;
	padding: 0px;
	font-weight: bold;
	border-top:1px solid #E9E9E9;
	border-left:1px solid #F5F5F5;
}
ul.ui-tabs-navleft li a{
	display: block;
	margin: 0px 0 0 10px;
	padding: 5px 5px 5px 0;
	text-decoration: none;
}
ul.ui-tabs-navleft li.ui-state-active{
	display: block;
	margin: 0px 0 0 10px;
	padding: 0px;
	background: #fff !important;
	color: #DB724F;
	border-left:1px solid #E9E9E9;
}
ul.ui-tabs-navleft li.ui-state-active a{color: #D54E21 !important;}
.section{
	margin-left: 0px;
	padding-left: 13px;
	margin-right: 20px;
	border-right:1px solid #E9E9E9;
}

h3.titl{
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	color: #444444;
	background: #ffffff;
	margin: 17px 0 -18px 0;
	padding: 10px 0 10px 10px;
	border-top:1px solid #E9E9E9;
}
.leafletmapsmarker-nav {
	background: #777777 !important;
	
}