#msb_insertMarkerSC{
	float: right;
	margin-top: 13px;
}
#msb_header_description{
	color:#666666;
}
#msb_serchContainer{
	padding-left: 40px;
	margin: 5px 0;
}
#msb_listContainer{
	height: 300px;
	width:100%;
	overflow-y: scroll;
	background: #fff ;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#msb_listContainer div{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
input.button-primary, button.button-primary, a.button-primary {
	background: #2887b3;
	border-color: #298CBA;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	-moz-box-sizing: content-box;
	border-radius: 11px 11px 11px 11px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: 12px !important;
	line-height: 13px;
	padding: 3px 8px;
	text-decoration: none;
	float:right;
}
input.button-secondary, button.button-secondary, a.button-secondary {
    -moz-box-sizing: content-box;
    border-radius: 11px 11px 11px 11px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 12px !important;
    line-height: 13px;
    padding: 3px 8px;
    text-decoration: none;
    line-height: 15px;
    padding: 3px 10px;
    white-space: nowrap;
    display:block;
    width:70px;
    margin-top:13px;
    background: #2887b3;
}
#msb_listContainer .list_item{
	border-top: none;
}
#msb_listHint{
    color:#555;
    padding:2px;
    font-size:13px;
}
.list_item{
    font-size: 11px;
	padding:2px;
}
.list_item .name{
}
.list_item .date{
    float: right;
}
.list_item.active{
    background: #ebebeb ;
}
#msb_cancel{
    color: black;
    background: #cfcdcd;
    font-size: 12px;
}
#msb_attribution{
    color: #666666;
    font-size: 11px;
}
#msb_attribution a {
    color: #666666;
    font-size: 11px;
}