#msb_header_description{
	color:#666666;
}
#msb_searchContainer{
	margin: 5px 0;
}
#msb_listContainer{
	height: 300px;
	width:100%;
	overflow-y: scroll;
	background: #fff ;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#msb_listContainer div{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#msb_insertMarkerSC {
	background-color: #21759B;
	background-image: linear-gradient(to bottom, #2A95C5, #21759B);
	border-color: #21759B #21759B #1E6A8D;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-sizing: border-box;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	height: 24px;
	line-height: 23px;
	margin: 13px 0 0 0;
	padding: 0 10px 1px;
	text-decoration: none;
	white-space: nowrap;
	float: right; 
}
#msb_listContainer .list_item{
	border-top: none;
}
#msb_listHint{
    color:#555;
    padding:2px;
    font-size:13px;
}
.list_item{
    font-size: 11px;
	padding:2px;
}
.list_item .name{
}
.list_item .date{
    float: right;
}
.list_item.active{
    background: #ebebeb ;
}
#msb_cancel{
    color: black;
    background: #cfcdcd;
    font-size: 12px;
}
#msb_attribution{
    color: #666666;
    font-size: 11px;
}
#msb_attribution a {
    color: #666666;
    font-size: 11px;
}